.main{
display: flex;
text-align: center;
justify-content: center;
border-radius: 20px;
}
h1{
    margin: 10px;
    color: aliceblue;
}
.card{
    margin-top:150px ;
    background-color: rgb(171, 171, 224);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 14px 15px 40px -7px rgb(161, 161, 226)
}
.button{
    padding: 20px 40px;
    border-radius: 15px;
    outline: none;
    border: none;   
}
.hidden{
    display: none;  
}
.imp[type="text"]{
    padding: 10px;
    font-size: 17px;
    background-color: rgb(208, 83, 240);
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 10px;
}
.showText{
    color: aliceblue;
    padding: 10px;
}